doctype html
html
    head
        title Pug Practice Page
        style
            include ./index.css

    body
        nav
            a(href='google.com') Home
            a(href='google.com') About
            a(href='google.com') Products
            a(href='google.com') Settings

        header
            h1 Hello Visitor!
        
        div
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, commodi illum? Inventore eligendi, alias cumque nam ad quibusdam voluptate laboriosam numquam consectetur ipsum, porro iure, nulla deleniti fugiat suscipit corporis.

        div
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in, eum culpa quibusdam, ea architecto odit aperiam accusantium id tempora ullam veritatis praesentium dignissimos quasi labore necessitatibus modi, provident delectus?